<!--
/**
 * Barranco\Checkout
 */
-->
<li id="myShipping" class="my-checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div class="step-title" translate="'Shipping Address'" data-role="title" />
    <div id="checkout-step-shipping" class="step-content" data-role="content">

        <each args="getRegion('my-customer-email')" render="" />

        <render if="isFormInline" args="myShippingAddressFormTemplate" />

        <form id="checkout-step-shipping-information"
              class="form form-shipping"
              data-bind="submit: navigateToNextStep">
            <div id="shipping-method-buttons-container" class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span translate="'Next'" />
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
