<!--
/**
 * Barranco\Checkout
 */
-->

<!-- Shipping Address Template -->
<li id="myShipping" class="my-checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div class="step-title" translate="'Shipping Address'" data-role="title" />
    <div id="checkout-step-shipping" class="step-content" data-role="content">

        <each args="getRegion('my-customer-email')" render="" />
        <each args="getRegion('my-address-list')" render="" />

        <if args="!isFormInline">
            <div class="my-new-address-popup">
                <button type="button"
                        class="action-show-popup"
                        click="showFormPopUp"
                        visible="!isNewAddressAdded()">
                    <span translate="'New Address'" />
                </button>
            </div>
            <div id="my-opc-new-shipping-address"
                 render="myShippingAddressFormTemplate"
                 visible="isFormPopUpVisible()" />
        </if>

        <render if="isFormInline" args="myShippingAddressFormTemplate" />

    </div>
</li>

<!-- Shipping Method Template -->
<li data-bind="blockLoader: isShippingServiceLoading">
    <div class="step-title" translate="'Shipping Methods'" data-role="title" />
    <div id="checkout-step-shipping-method" class="step-content" data-role="content">
        <form id="checkout-step-shipping-information"
              class="form form-shipping"
              data-bind="submit: navigateToNextStep"
              if="rates().length">
            <div id="shipping-method-buttons-container" class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span translate="'Next'" />
                    </button>
                </div>
            </div>
        </form>
        <div class="no-quotes-block"
             ifnot="rates().length > 0"
             translate="'Sorry, no quotes are available for this order at this time'" />
    </div>
</li>
