<!--
/**
 * Barranco\Checkout
 */
-->

<!-- ko ifnot: isCustomerLoggedIn() -->
<form class="form form-login">
    <fieldset class="fieldset">
        <div class="field required">
            <label class="label" for="my-customer-email"><span data-bind="i18n: 'Email Address'"></span></label>
            <div class="control _with-tooltip">
                <input type="email" id="my-customer-email">
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <span class="note" data-bind="fadeVisible: isPasswordVisible() == false"><!-- ko i18n: 'You can create an account after checkout.' --><!-- /ko --></span>
            </div>
        </div>
    </fieldset>
</form>
<!-- /ko -->
