<?xml version="1.0"?>
<!--
/**
 * Barranco\Checkout
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Barranco\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="barranco_checkout_default_config_provider" xsi:type="object">Barranco\Checkout\Model\DefaultConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
