<?xml version="1.0"?>
<!--
/**
 * Barranco\Checkout
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Barranco\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="barranco_checkout_default_config_provider" xsi:type="object">Barranco\Checkout\Model\DefaultConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Barranco\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="addressFormAttributes" xsi:type="object">Barranco\Checkout\Block\MyCheckout\LayoutProcessor</item>
                <item name="directoryData" xsi:type="object">Barranco\Checkout\Block\MyCheckout\DirectoryDataProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
