//
// Variables
// _____________________________________________

@my-checkout-wrapper__margin:                                       @indent__base;
@my-checkout-wrapper__columns:                                      16;
@my-checkout-step-title__border:                                    @border-width__base solid @color-gray80;
@my-checkout-step-title-mobile__font-size:                          18px;
@my-checkout-progress-bar__font-size:                               18px;
@my-checkout-progress-bar__font-weight:                             @font-weight__light;
@my-checkout-progress-bar-item__color:                              @color-gray40;
@my-checkout-progress-bar-item__margin:                             @indent__s;
@my-checkout-progress-bar-item__width:                              185px;
@my-checkout-progress-bar-item__background-color:                   @color-gray-middle1;
@my-checkout-progress-bar-item-element-inner__border-color:         @color-gray80;
@my-checkout-progress-bar-item-element__width:                      38px;
@my-checkout-progress-bar-item__transition:                         background .3s;
@my-checkout-progress-bar-item__border-radius:                      6px;
@my-checkout-progress-bar-item-element__height:                     @my-checkout-progress-bar-item-element__width;
@my-checkout-progress-bar-item-element-inner__background-color:     @page__background-color;
@my-checkout-progress-bar-item-element-inner__height:               @my-checkout-progress-bar-item-element-inner__width;
@my-checkout-progress-bar-item-element-inner__width:                @my-checkout-progress-bar-item-element__width - ( @my-checkout-progress-bar-item-element-outer-radius__width*2 );
@my-checkout-progress-bar-item-element-outer-radius__width:         6px;
@my-checkout-progress-bar-item-element-inner__color:                @primary__color;
@my-checkout-progress-bar-item__active__background-color:           @active__color;
@my-checkout-progress-bar-item-element-inner__active__border-color: @active__color;
@my-checkout-progress-bar-item__active__color:                      @primary__color;
@my-checkout-progress-bar-item__active__font-weight:                @font-weight__semibold;
@my-checkout-progress-bar-item-element-inner__active__content:      @icon-checkmark;
@my-checkout-shipping-address__margin:                              28px;
@my-checkout-shipping-address__max-width:                           500px;
@my-checkout-shipping-item__border:                                 2px solid transparent;
@my-checkout-shipping-item__line-height:                            30px;
@my-checkout-shipping-item__margin:                                 0 0 @indent__base;
@my-checkout-shipping-item__padding:                                @indent__base (@indent__l + 5px) @indent__base @indent__base;
@my-checkout-shipping-item__transition:                             .3s border-color;
@my-checkout-shipping-item-mobile__width:                           100%;
@my-checkout-shipping-item-tablet__width:                           100%/2;
@my-checkout-shipping-item__width:                                  100%/3;
@my-checkout-shipping-item-before__border-color:                    @color-gray80;
@my-checkout-shipping-item-mobile__padding:                         0 0 15px;
@my-checkout-shipping-item-mobile__margin:                          @my-checkout-shipping-item-mobile__padding;
@my-checkout-shipping-item__active__border-color:                   @active__color;
@my-checkout-shipping-item-mobile__active__padding:                 15px (@indent__l + 5px) 15px 18px;
@my-checkout-shipping-item-icon__background-color:                  @my-checkout-shipping-item__active__border-color;
@my-checkout-shipping-item-icon__color:                             @color-white;
@my-checkout-shipping-item-icon__content:                           @icon-checkmark;
@my-checkout-shipping-item-icon__selected__height:                  27px;
@my-checkout-shipping-item-icon__selected__width:                   29px;

//
// Common
// _____________________________________________

& when (@media-common = true) {

    .mycheckout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
    }

    .my-opc-wrapper {
        .lib-css(margin, 0 0 @my-checkout-wrapper__margin);

        .my-opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            .lib-css(border-bottom, @my-checkout-step-title__border);
            margin-bottom: 15px;
        }

        .form-login,
        .form-shipping-address {
            .lib-css(margin, @my-checkout-shipping-address__margin 0 @my-checkout-shipping-address__margin 0);

            .fieldset {
                .field {
                    .label {
                        font-weight: @font-weight__regular;
                    }
                }

                .note {
                    font-size: @font-size__base;
                    margin-top: @indent__s;
                }
            }
        }

        .shipping-address-items {
            font-size: 0;
        }

        .shipping-address-item {
            &:extend(.abs-add-box-sizing all);
            .lib-css(border, @my-checkout-shipping-item__border);
            .lib-css(line-height, @my-checkout-shipping-item__line-height);
            .lib-css(margin, @my-checkout-shipping-item__margin);
            .lib-css(padding, @my-checkout-shipping-item__padding);
            .lib-css(transition, @my-checkout-shipping-item__transition);
            .lib-css(width, @my-checkout-shipping-item-tablet__width);
            display: inline-block;
            font-size: @font-size__base;
            position: relative;
            vertical-align: top;
            word-wrap: break-word;

            &.selected-item {
                .lib-css(border-color, @my-checkout-shipping-item__active__border-color);

                &:after {
                    .lib-css(background, @checkout-shipping-item-icon__background-color);
                    .lib-css(color, @checkout-shipping-item-icon__color);
                    .lib-css(content, @checkout-shipping-item-icon__content);
                    .lib-css(font-family, @icons__font-name);
                    .lib-css(height, @checkout-shipping-item-icon__selected__height);
                    .lib-css(width, @checkout-shipping-item-icon__selected__width);
                    font-size: 19px;
                    line-height: 21px;
                    padding-top: 2px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 0;
                }
            }
        }
    }

    .my-opc-progress-bar {
        &:extend(.abs-reset-list all);
        display: none;
    }

    .form-shipping {
        .actions-toolbar {
            .action {
                &.primary {
                    &:extend(.abs-button-l all);
                    margin: @indent__base 0 0;
                }
            }
        }
    }
}

//
// Mobile
// _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    .my-opc-wrapper {
        .step-title {
            .lib-css(font-size, @my-checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }

        .shipping-address-item {
            .lib-css(border-bottom, 1px solid @my-checkout-shipping-item-before__border-color);
            .lib-css(margin, @my-checkout-shipping-item-mobile__margin);
            .lib-css(padding, @my-checkout-shipping-item-mobile__padding);
            .lib-css(width, @my-checkout-shipping-item-mobile__width);

            &.selected-item {
                .lib-css(padding, @my-checkout-shipping-item-mobile__active__padding);
                border-bottom-width: 2px;
            }
        }
    }
}

//
// Desktop
// _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .form-shipping {
        .actions-toolbar {
            > .primary {
                float: right;
            }

            .action {
                &.primary {
                    &.button {
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    .my-opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @my-checkout-wrapper__columns);
        padding-right: @indent__l;

        .form-login,
        .form-shipping-address {
            .lib-css(max-width, @my-checkout-shipping-address__max-width);
        }

        .form-login {
            .lib-css(border-bottom, @my-checkout-step-title__border);
            padding-bottom: @indent__base;
        }
    }

    .my-opc-progress-bar {
        .lib-css(margin, 0 0 @checkout-progress-bar__margin);
        counter-reset: i;
        display: block;
        font-size: 0;
    }

    .my-opc-progress-bar-item {
        .lib-css(margin, 0 0 @my-checkout-progress-bar-item__margin);
        .lib-css(width, @my-checkout-progress-bar-item__width);
        display: inline-block;
        position: relative;
        text-align: center;
        vertical-align: top;

        &:before {
            .lib-css(background, @my-checkout-progress-bar-item__background-color);
            .lib-css(border, 1px solid @my-checkout-progress-bar-item-element-inner__border-color);
            .lib-css(top, @my-checkout-progress-bar-item-element__width/2);
            .lib-css(transition, @my-checkout-progress-bar-item__transition);
            content: '';
            height: 7px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        &:first-child {
            &:before {
                .lib-css(border-radius, @my-checkout-progress-bar-item__border-radius 0 0 @my-checkout-progress-bar-item__border-radius);
            }
        }

        &:last-child {
            &:before {
                .lib-css(border-radius, 0 @my-checkout-progress-bar-item__border-radius @my-checkout-progress-bar-item__border-radius 0);
            }
        }

        > span {
            display: inline-block;
            padding-top: 45px;
            width: 100%;
            word-wrap: break-word;

            .lib-typography(
                @_font-size: @my-checkout-progress-bar__font-size,
                @_color: @my-checkout-progress-bar-item__color,
                @_font-family: false,
                @_font-weight: @my-checkout-progress-bar__font-weight,
                @_line-height: false,
                @_font-style: false
            );

            &:before,
            &:after {
                .lib-css(background, @my-checkout-progress-bar-item__background-color);
                .lib-css(border, 1px solid @my-checkout-progress-bar-item-element-inner__border-color);
                .lib-css(height, @my-checkout-progress-bar-item-element__height);
                .lib-css(margin-left, -(@my-checkout-progress-bar-item-element__width/2));
                .lib-css(transition, @my-checkout-progress-bar-item__transition);
                .lib-css(width, @my-checkout-progress-bar-item-element__width);
                border-radius: 50%;
                content: '';
                left: 50%;
                position: absolute;
                top: 0;
            }

            &:after {
                .lib-css(background, @my-checkout-progress-bar-item-element-inner__background-color);
                .lib-css(height, @my-checkout-progress-bar-item-element-inner__height);
                .lib-css(margin-left, -(@my-checkout-progress-bar-item-element-inner__width/2));
                .lib-css(top, @my-checkout-progress-bar-item-element-outer-radius__width);
                .lib-css(width, @my-checkout-progress-bar-item-element-inner__width);
                content: counter(i);
                counter-increment: i;

                .lib-typography(
                    @_font-size: @my-checkout-progress-bar__font-size,
                    @_color: @my-checkout-progress-bar-item-element-inner__color,
                    @_font-family: false,
                    @_font-weight: @font-weight__semibold,
                    @_line-height: false,
                    @_font-style: false
                );
            }
        }

        &._active {
            &:before {
                .lib-css(background, @my-checkout-progress-bar-item__active__background-color);
                .lib-css(border-color, @my-checkout-progress-bar-item-element-inner__active__border-color);
            }

            > span {
                .lib-css(color, @my-checkout-progress-bar-item__active__color);
                .lib-css(font-weight, @my-checkout-progress-bar-item__active__font-weight);

                &:before {
                    .lib-css(background, @my-checkout-progress-bar-item__active__background-color);
                    .lib-css(border-color, @my-checkout-progress-bar-item-element-inner__active__border-color);
                }

                &:after {
                    .lib-css(border-color, @my-checkout-progress-bar-item-element-inner__active__border-color);
                }
            }
        }

        &._complete {
            cursor: pointer;

            > span {

                &:after {
                    .lib-css(font-family, @icons__font-name);
                    .lib-css(content, @my-checkout-progress-bar-item-element-inner__active__content);
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .my-opc-wrapper {
        .shipping-address-item {
            .lib-css(width, @my-checkout-shipping-item__width);
        }
    }
}
