<div>
    <table class="my-table-checkout-shipping-method">
        <thead>
            <tr>
                <th translate="'Select Method'"></th>
                <th translate="'Price'"></th>
                <th translate="'Method Title'"></th>
                <th translate="'Carrier Title'"></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: { data: rates(), as: 'method'} -->
                <!--ko template: { name: element.myShippingMethodItemTemplate} --><!-- /ko -->
            <!-- /ko -->
        </tbody>
    </table>
</div>